@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h3 class="display-4">Welcome to Contacts Demo</h3>
  <p>(Created on 1/21/2021 by Danny L. Joe to demo a complex app scenario based on ASP.NET Core.)</p>
</div>
